html,body{
    margin: 0;
    padding: 0;
}
body{
    font: 90% calibri, sans-serif;
    text-align: center;
 
}

div#header{
    background-color: #70ceeb;
}
div#header h1{
    height: 80px;
    line-height: 80px;
    margin: 0;
    padding-left: 10px;
}
div#container{
    height: auto;
    width: 950px;
    margin: 0 auto;
    text-align: left;
}
div#wrapper{
    float: right;
    width: 750px;
    
}

div#wrapper h3{
    font-size: 20px;
    
}
div#wrapper p{
    line-height: 1.5;
    text-align: justify;
}
div#navi{
    float: left;
    height: 600px;
    width: 200px;
    background: #d4edf5;
}
div#navi ul{
    margin-left: 10px;
    list-style-type: square;
}
div#navi li{
    margin-bottom: 8px;
    font-size: 15px;
    
}
div#footer{
    clear:both;
    width: 100%;
    background: #70ceeb;
}
div#footer p{
    margin: 0;
    padding: 5px 10px;
}
a{
    padding:5px;
    text-decoration: none;
    color : #000000;
}
a:hover{
    color:red;
}
p{
    margin: 0 10px 10px;
}

#heading {
    text-align: center;

}

#center{
    height: 250px;
    width: 400px;
    margin-left: 100px;
    max-width: 500px;
	padding: 10px 30px;
	background: #f4f7f8;
	margin: 25px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: Georgia, "Times New Roman", Times, serif;
    
}
input[type=text] {
    
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    width: 400px;
  }
  input[type=password] {
    
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=email] {
    
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

select{
    padding: 8px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

  


label,input,button,select,textarea {
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    

}
form button{
    border: none;
	padding: 8px 15px 8px 15px;
	background: #70ceeb;
	color: #fff;
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}


input,select,textarea {
    width: 100%;
}

.error{
    color: red;
    text-align: center;
}

.success{
    color: green;
    text-align: center;
}

.record{
    list-style-type: square;
}

.record li{
    margin-top: 15px;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #ddd;
    padding: 5px;
}

strong{
    color: orange;
    padding: 5px;
}

i{
    color: blue;
    padding:5px;
}
img{
    width: 750px;
    height: 600px;
}




